.final {
    padding: 20px 0;
    background: $primary;
    color: $branco;
    h2 {
        @include tipo-1(24);
        line-height: em(35, 18);
        padding: 20px 0;
    }
}
.sociais {
    li {
        @include tipo-1(18);
        line-height: em(35, 18);
        display: inline-block
    }
    ul li a {
        padding: 0 5px;
        text-decoration: none;
        color: $primary;
        display: block;
        @include tipo-1(18);
        font-weight: 300
    }
}
.endereco {
    text-align: right;
    p {
        padding: 5px 0;
    }
}
.footer {
    background: $preto;
    padding: 5px;
    p {
        @include tipo-1(18);
        color : $branco;
    }
}