
.header  {
    @include box-shadow(0px 3px 0 0px $secondary,
                        0 3px 6px rgba(0,0,0,0.16), 
                        0 3px 6px rgba(0,0,0,0.23)
    ); 
    width: 100%;
    .row {
        background: $branco;
    }
    img{
        padding: 15px 0;
        display: block;
        margin: 0 auto;
    }
    ul {
        float: right;
    }
    li {
        @include tipo-1(16);
        line-height: em(35, 16);
        display: inline-block
    }
    ul li a {
        padding: 15px 11px;
        text-decoration: none;
        color: $preto;
        display: block;
        @include tipo-1(16);
        font-weight: 300;
        transition: all .3s ease;
    }
    ul li a:hover {
        color: $secondary;
    }
    @include d(s){
        img {
            width: 70%;
            margin: 0 auto 10x auto;
        }
        .header-menu {
            text-align: center
        }
        ul li a {
            padding: 5px;
        }
    }
}
.small {
    padding: 5px;
    font-size: 80%;
    background: $branco;
}