.header-logo {

    // padding-top: 5px;
    .logo {
        img {
            padding: 15px 0;
            display: block;
            margin: 0 auto;
            height: 130px;
            width: 150px;
        }
    }

    ul {
        float: right;
        margin-top: 5px;
    }

    li {
        display: inline-block;
        margin-left: 40px;
        // margin-right: 40px;

        img {
            padding: 15px 0;
            display: block;
            margin: 0 auto;
            // height: 100px;
            // width: 200px;
        }

        a {
            text-decoration: none;
            color: $primary;
            font-weight: bold;
            display: block;
            @include tipo-1(18);
            padding: 5px 10px;
        }
    }

}

.menu {
    background: $primary
}

// .header-menu {
//     width: 100%;

//     .row {
//         background: $branco;
//     }

//     ul {
//         float: right;
//     }

//     li {
//         @include tipo-1(16);
//         line-height: em(35, 16);
//         display: inline-block
//     }

//     ul li a {
//         padding: 5px 10px;
//         text-decoration: none;
//         color: $branco;
//         display: block;
//         @include tipo-1(16);
//         font-weight: 500;
//         transition: all .3s ease;

//         &:hover {
//             color: $secondary;
//         }
//     }

//     @include d(s) {
//         img {
//             width: 70%;
//             margin: 0 auto 10x auto;
//         }

//         .header-menu {
//             text-align: center
//         }

//         ul li a {
//             padding: 5px;
//         }
//     }
// }

.small {
    padding: 5px;
    font-size: 80%;
    background: $branco;
}

// .dropdown {
//     position: relative;
//     display: inline-block;
//     transition: all .3s ease;
// }

// .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: $primary;
//     min-width: 160px;
//     @include box-shadow(0px 3px 0 0px $secondary,
//     0 3px 6px rgba(0, 0, 0, 0.16),
//     0 3px 6px rgba(0, 0, 0, 0.23));
//     padding: 12px 16px;
//     z-index: 90;
//     transition: all .3s ease;
// }

// .dropdown:hover .dropdown-content {
//     display: block;
// }

//// novo menu

.topbar-nav {
    background: $primary;
    // display: flex;
    // justify-content: flex-end;
    float: right;
    @include d(s) {
        img {
            width: 70%;
            margin: 0 auto 10x auto;
        }

        .header-menu {
            text-align: center
        }

        ul li a {
            padding: 5px;
        }
    }
}

.topbar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: $primary;
    
}

.topbar-nav .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.topbar-nav .metismenu>li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.topbar-nav .metismenu a {
    padding: 5px 10px;
    text-decoration: none;
    color: $branco;
    @include tipo-1(16);
    font-weight: 500;
    &:hover {
        color: $secondary;
    }

    position: relative;
    display: block;
    outline-width: 0;
    transition: all .3s ease-out;
}


.topbar-nav .metismenu a:hover,
.topbar-nav .metismenu a:focus,
.topbar-nav .metismenu a:active {
    color: $primary;
    text-decoration: none;
    background: $secondary;
}

@media (min-width: 992px) {
    .topbar-nav .metismenu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .topbar-nav .metismenu>li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .topbar-nav .metismenu>li>ul {
        position: absolute;
        top: 100%;
        min-width: 100%;
        z-index: 1001;
    }

    .topbar-nav.is-hoverable .metismenu>li>ul {
        height: auto !important;
    }

    .topbar-nav.is-hoverable .metismenu>li:hover>ul {
        display: block;
    }

    .topbar-nav.is-hoverable .metismenu>li:hover>a.has-arrow:after {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}