.navegacao {
    h2 {
        padding-bottom: 5px;
        @include tipo-1(18);
        line-height: em(35, 18);
        color: $preto;
        text-align: center;
    }
    ul {
        border-top: 2px solid $primary;
        border-left: 2px solid $primary;
        padding-top: 10px;
        padding-bottom: 20px;

    }
    li {
        @include tipo-1(14);
        line-height: em(35, 14);
        padding: 0 0 0 7px;
    }

    a {
        text-decoration: none;
        padding: 20px 0;
        color: $preto;
        transition: all .3s ease;
    }
    a:hover {
        text-decoration: none;
        color: $secondary
    }
}