.navegacao {
    h2 {
        @include tipo-1(18);
        background: $primary;
        color: $branco;
        text-align: center;
        @include box-shadow(0px 3px 0 0px $secondary,
                        0 3px 6px rgba(0,0,0,0.16), 
                        0 3px 6px rgba(0,0,0,0.23)
        );
        border-radius: 10px 0px 10px 0;
    }
    ul {
        padding-top: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 2px -2px $secondary;
    }
    li {
        @include tipo-1(14);
        padding: 0 0 0 7px;
    }

    a {
        text-decoration: none;
        padding: 20px 0;
        color: $preto;
        transition: all .3s ease;
        &:hover {
            text-decoration: none;
            color: $secondary
        }
    }

}