.navegacao {
    h2 {
        padding: 10px 0;
        @include tipo-1(24);
        // line-height: em(35, 24);
        color: $preto;
        text-align: center;
    }
    ul {
        border-top: 2px solid $primary;
        border-left: 2px solid $primary;
        padding-bottom: 20px;
    }
    li {
        @include tipo-1(14);
        line-height: em(35, 14);
        padding: 10px 10px 10px 20px;
    }

    a {
        text-decoration: none;
        padding: 20px 0;
        color: $preto;
        transition: all .3s ease;
    }
    a:hover {
        text-decoration: none;
        color: $secondary
    }
}