.sobre {
    h2{
        @include tipo-1(24);
        line-height: em(35,24);
        background: $primary;
        color: $branco;
        padding: 5px;
        margin-bottom: 10px;
        @include box-shadow(0px 3px 0 0px $secondary,
                        0 3px 6px rgba(0,0,0,0.16), 
                        0 3px 6px rgba(0,0,0,0.23)
        ); 
        border-radius: 10px 0px 10px 0;
    }
    p{
        padding: 10px;
    }
}
