/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /home/santana/frontend/acebra/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /home/santana/frontend/acebra/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /home/santana/frontend/acebra/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, /home/santana/frontend/acebra/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /home/santana/frontend/acebra/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /home/santana/frontend/acebra/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /home/santana/frontend/acebra/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, /home/santana/frontend/acebra/sass/_grid.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-1 {
  width: calc(8.33333% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-2 {
  width: calc(16.66667% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-3 {
  width: calc(25% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-4 {
  width: calc(33.33333% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-5 {
  width: calc(41.66667% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-6 {
  width: calc(50% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-7 {
  width: calc(58.33333% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-8 {
  width: calc(66.66667% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-9 {
  width: calc(75% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-10 {
  width: calc(83.33333% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-11 {
  width: calc(91.66667% - 20px);
}

/* line 48, /home/santana/frontend/acebra/sass/_grid.scss */
.grid-12 {
  width: calc(100% - 20px);
}

/* line 68, /home/santana/frontend/acebra/sass/_grid.scss */
[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  /* line 68, /home/santana/frontend/acebra/sass/_grid.scss */
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-3 {
  margin-left: calc(25% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-6 {
  margin-left: calc(50% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-9 {
  margin-left: calc(75% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

/* line 75, /home/santana/frontend/acebra/sass/_grid.scss */
.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  /* line 82, /home/santana/frontend/acebra/sass/_grid.scss */
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

/* line 112, /home/santana/frontend/acebra/sass/_grid.scss */
.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* line 112, /home/santana/frontend/acebra/sass/_grid.scss */
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  /* line 112, /home/santana/frontend/acebra/sass/_grid.scss */
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 90, /home/santana/frontend/acebra/sass/_grid.scss */
.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

/* line 127, /home/santana/frontend/acebra/sass/_grid.scss */
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  /* line 127, /home/santana/frontend/acebra/sass/_grid.scss */
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* line 90, /home/santana/frontend/acebra/sass/_grid.scss */
.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

/* line 1, /home/santana/frontend/acebra/sass/_geral.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 5, /home/santana/frontend/acebra/sass/_geral.scss */
p {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
}

/* line 8, /home/santana/frontend/acebra/sass/_geral.scss */
.header-cotacoes {
  background: #006d34;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  height: 30px;
}

/* line 14, /home/santana/frontend/acebra/sass/_geral.scss */
.header-cotacoes p {
  text-align: right;
}

/*!
* metismenu https://github.com/onokumus/metismenu#readme
* A jQuery menu plugin
* @version 3.0.3
* @author Osman Nuri Okumus <onokumus@gmail.com> (https://github.com/onokumus)
* @license: MIT 
*/
/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
[dir=rtl] .metismenu .arrow {
  float: left;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .glyphicon.arrow:before {
  content: "\e079";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .mm-active > a > .glyphicon.arrow:before {
  content: "\e114";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .fa.arrow:before {
  content: "\f104";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .mm-active > a > .fa.arrow:before {
  content: "\f107";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .ion.arrow:before {
  content: "\f3d2";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .mm-active > a > .ion.arrow:before {
  content: "\f3d0";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .plus-times {
  float: right;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
[dir=rtl] .metismenu .plus-times {
  float: left;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .fa.plus-times:before {
  content: "\f067";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .mm-active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .plus-minus {
  float: right;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
[dir=rtl] .metismenu .plus-minus {
  float: left;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .fa.plus-minus:before {
  content: "\f067";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .mm-active > a > .fa.plus-minus:before {
  content: "\f068";
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height,visibility;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .has-arrow {
  position: relative;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .has-arrow:after {
  position: absolute;
  content: "";
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  transition: all .3s ease-out;
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
[dir=rtl] .metismenu .has-arrow:after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translateY(-50%);
  transform: rotate(135deg) translateY(-50%);
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
.metismenu .has-arrow[aria-expanded=true]:after, .metismenu .mm-active > .has-arrow:after {
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

/* line 26, /home/santana/frontend/acebra/sass/_geral.scss */
[dir=rtl] .metismenu .has-arrow[aria-expanded=true]:after, [dir=rtl] .metismenu .mm-active > .has-arrow:after {
  -webkit-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
}

/*# sourceMappingURL=metisMenu.min.css.map */
/* line 5, /home/santana/frontend/acebra/sass/_menu.scss */
.header-logo .logo img {
  padding: 15px 0;
  display: block;
  margin: 0 auto;
  height: 130px;
  width: 150px;
}

/* line 14, /home/santana/frontend/acebra/sass/_menu.scss */
.header-logo ul {
  float: right;
  margin-top: 5px;
}

/* line 19, /home/santana/frontend/acebra/sass/_menu.scss */
.header-logo li {
  display: inline-block;
  margin-left: 40px;
}

/* line 24, /home/santana/frontend/acebra/sass/_menu.scss */
.header-logo li img {
  padding: 15px 0;
  display: block;
  margin: 0 auto;
}

/* line 32, /home/santana/frontend/acebra/sass/_menu.scss */
.header-logo li a {
  text-decoration: none;
  color: #006d34;
  font-weight: bold;
  display: block;
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 5px 10px;
}

/* line 44, /home/santana/frontend/acebra/sass/_menu.scss */
.menu {
  background: #006d34;
}

/* line 48, /home/santana/frontend/acebra/sass/_menu.scss */
.header-menu {
  width: 100%;
}

/* line 51, /home/santana/frontend/acebra/sass/_menu.scss */
.header-menu .row {
  background: #fff;
}

/* line 55, /home/santana/frontend/acebra/sass/_menu.scss */
.header-menu ul {
  float: right;
}

/* line 59, /home/santana/frontend/acebra/sass/_menu.scss */
.header-menu li {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  line-height: 2.1875em;
  display: inline-block;
}

/* line 65, /home/santana/frontend/acebra/sass/_menu.scss */
.header-menu ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  display: block;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 500;
  transition: all .3s ease;
}

/* line 74, /home/santana/frontend/acebra/sass/_menu.scss */
.header-menu ul li a:hover {
  color: #c9a220;
}

@media screen and (max-width: 759px) {
  /* line 80, /home/santana/frontend/acebra/sass/_menu.scss */
  .header-menu img {
    width: 70%;
    margin: 0 auto 10x auto;
  }
  /* line 85, /home/santana/frontend/acebra/sass/_menu.scss */
  .header-menu .header-menu {
    text-align: center;
  }
  /* line 89, /home/santana/frontend/acebra/sass/_menu.scss */
  .header-menu ul li a {
    padding: 5px;
  }
}

/* line 95, /home/santana/frontend/acebra/sass/_menu.scss */
.small {
  padding: 5px;
  font-size: 80%;
  background: #fff;
}

/* line 101, /home/santana/frontend/acebra/sass/_menu.scss */
.dropdown {
  position: relative;
  display: inline-block;
  transition: all .3s ease;
}

/* line 107, /home/santana/frontend/acebra/sass/_menu.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #006d34;
  min-width: 160px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 12px 16px;
  z-index: 90;
  transition: all .3s ease;
}

/* line 120, /home/santana/frontend/acebra/sass/_menu.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 2, /home/santana/frontend/acebra/sass/_navegacao.scss */
.navegacao h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  background: #006d34;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

/* line 13, /home/santana/frontend/acebra/sass/_navegacao.scss */
.navegacao ul {
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 2px -2px #c9a220;
}

/* line 18, /home/santana/frontend/acebra/sass/_navegacao.scss */
.navegacao li {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 0 0 0 7px;
}

/* line 23, /home/santana/frontend/acebra/sass/_navegacao.scss */
.navegacao a {
  text-decoration: none;
  padding: 20px 0;
  color: #011f17;
  transition: all .3s ease;
}

/* line 28, /home/santana/frontend/acebra/sass/_navegacao.scss */
.navegacao a:hover {
  text-decoration: none;
  color: #c9a220;
}

/* line 1, /home/santana/frontend/acebra/sass/_intro.scss */
.main {
  max-height: 380px;
}

/* line 4, /home/santana/frontend/acebra/sass/_intro.scss */
.main ul {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 8, /home/santana/frontend/acebra/sass/_intro.scss */
.main h1 {
  top: 300px;
  background: #2a2426;
  color: #fff;
  padding: 5px 0 10px 0;
  position: absolute;
  text-align: center;
  z-index: 10;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  opacity: 0.8;
}

/* line 23, /home/santana/frontend/acebra/sass/_intro.scss */
.content {
  padding-top: 20px;
}

/* line 28, /home/santana/frontend/acebra/sass/_intro.scss */
.news h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #011f17;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
}

/* line 38, /home/santana/frontend/acebra/sass/_intro.scss */
.new {
  margin: 10px 0;
}

/* line 41, /home/santana/frontend/acebra/sass/_intro.scss */
.new .date {
  width: 40px;
  display: inline-block;
  padding: 26px 0;
  margin-right: 5px;
  background-color: #006d34;
  color: #fff;
  vertical-align: top;
  text-align: center;
}

/* line 52, /home/santana/frontend/acebra/sass/_intro.scss */
.new h4 {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  line-height: 1.4375em;
}

/* line 57, /home/santana/frontend/acebra/sass/_intro.scss */
.new a {
  text-decoration: none;
  color: #011f17;
  transition: all .3s ease;
}

/* line 62, /home/santana/frontend/acebra/sass/_intro.scss */
.new a:hover {
  color: #c9a220;
}

/* line 67, /home/santana/frontend/acebra/sass/_intro.scss */
.new p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  line-height: 1em;
  color: #b4bdaf;
}

/* line 75, /home/santana/frontend/acebra/sass/_intro.scss */
.noticias h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  background: #006d34;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

/* line 86, /home/santana/frontend/acebra/sass/_intro.scss */
.noticias h6 {
  color: #006d34;
}

/* line 90, /home/santana/frontend/acebra/sass/_intro.scss */
.noticias ul {
  margin-top: 10px;
  padding-bottom: 20px;
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
  box-shadow: 0 4px 2px -2px #c9a220;
}

/* line 99, /home/santana/frontend/acebra/sass/_intro.scss */
.noticias li {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 2px;
  margin: 2px;
  box-shadow: 0 4px 2px -2px #f5f5f5;
}

/* line 106, /home/santana/frontend/acebra/sass/_intro.scss */
.noticias a {
  text-decoration: none;
  color: #011f17;
  transition: all .3s ease;
}

/* line 111, /home/santana/frontend/acebra/sass/_intro.scss */
.noticias a:hover {
  color: #c9a220;
}

/* line 116, /home/santana/frontend/acebra/sass/_intro.scss */
.noticias .leia-mais {
  color: #006d34;
  float: right;
  padding: 10px 0;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
}

/* line 124, /home/santana/frontend/acebra/sass/_intro.scss */
::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

/* line 128, /home/santana/frontend/acebra/sass/_intro.scss */
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

/* line 133, /home/santana/frontend/acebra/sass/_intro.scss */
::-webkit-scrollbar-thumb {
  background: #006d34;
}

/* line 137, /home/santana/frontend/acebra/sass/_intro.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 380px;
}

/* line 147, /home/santana/frontend/acebra/sass/_intro.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 156, /home/santana/frontend/acebra/sass/_intro.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

/* line 162, /home/santana/frontend/acebra/sass/_intro.scss */
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* line 171, /home/santana/frontend/acebra/sass/_intro.scss */
.navigation ul {
  padding-top: 10px;
  margin-bottom: 20px;
}

/* line 176, /home/santana/frontend/acebra/sass/_intro.scss */
.navigation li {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  margin-bottom: 15px;
}

/* line 180, /home/santana/frontend/acebra/sass/_intro.scss */
.navigation li:before {
  content: '';
  border-left: solid 5px #c9a220;
}

/* line 186, /home/santana/frontend/acebra/sass/_intro.scss */
.navigation a {
  text-decoration: none;
  padding: 20px 5px;
  color: #011f17;
  transition: all .3s ease;
}

/* line 192, /home/santana/frontend/acebra/sass/_intro.scss */
.navigation a:hover {
  text-decoration: none;
  color: #c9a220;
}

/* line 198, /home/santana/frontend/acebra/sass/_intro.scss */
.navigation .submenu {
  margin-left: 15px;
}

/* line 204, /home/santana/frontend/acebra/sass/_intro.scss */
.newlestter-form label {
  display: none;
}

/* line 208, /home/santana/frontend/acebra/sass/_intro.scss */
.newlestter-form input {
  border: 1px solid #006d34;
  background: none;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  width: 100%;
}

/* line 215, /home/santana/frontend/acebra/sass/_intro.scss */
.newlestter-form button {
  background: #006d34;
  border: none;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  line-height: 1.78571em;
  color: #fff;
  width: 100%;
  padding: 5px 0;
}

/* line 228, /home/santana/frontend/acebra/sass/_intro.scss */
.social .facebook h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  text-transform: uppercase;
  margin: 0 auto;
}

/* line 236, /home/santana/frontend/acebra/sass/_intro.scss */
.informations {
  padding: 20px 0;
}

/* line 240, /home/santana/frontend/acebra/sass/_intro.scss */
.break {
  background: url("../img/blockcote.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 40px;
}

/* line 249, /home/santana/frontend/acebra/sass/_intro.scss */
.quote {
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
}

/* line 254, /home/santana/frontend/acebra/sass/_intro.scss */
.quote p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

/* line 258, /home/santana/frontend/acebra/sass/_intro.scss */
.quote cite {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  font-weight: bold;
  letter-spacing: .1em;
}

/* line 265, /home/santana/frontend/acebra/sass/_intro.scss */
.footer {
  padding: 20px 0;
  background-color: #1e735d;
  color: #fff;
}

/* line 270, /home/santana/frontend/acebra/sass/_intro.scss */
.footer h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  line-height: 1.25em;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 278, /home/santana/frontend/acebra/sass/_intro.scss */
.footer ul li a {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  line-height: 1.78571em;
  transition: all .3s ease;
  text-decoration: none;
  color: #fff;
}

/* line 284, /home/santana/frontend/acebra/sass/_intro.scss */
.footer ul li a:hover {
  color: #c9a220;
}

/* line 288, /home/santana/frontend/acebra/sass/_intro.scss */
.footer p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  line-height: 1.78571em;
}

/* line 294, /home/santana/frontend/acebra/sass/_intro.scss */
.copy {
  background-color: #011f17;
  color: #fff;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

/* line 300, /home/santana/frontend/acebra/sass/_intro.scss */
.img-footer {
  padding: 10px 0;
  opacity: 0.3;
}

/* line 305, /home/santana/frontend/acebra/sass/_intro.scss */
.footer-social-media li {
  display: inline-block;
}

/* line 308, /home/santana/frontend/acebra/sass/_intro.scss */
.footer-social-media ul li a {
  padding: 0 5px;
  text-decoration: none;
  color: #006d34;
  display: block;
  font-weight: 300;
}

/* line 1, /home/santana/frontend/acebra/sass/_items.scss */
.items {
  margin-bottom: 20px;
}

/* line 4, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda, .item-meteorologia, .item-cotacao {
  border-bottom: 2px solid #006d34;
  min-height: 400px;
  max-height: 400px;
}

/* line 8, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda h2, .item-meteorologia h2, .item-cotacao h2 {
  padding: 5px 0 0 0;
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  line-height: 1.94444em;
  color: #011f17;
  text-align: center;
  border-bottom: 2px solid #006d34;
}

/* line 16, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda ul, .item-meteorologia ul, .item-cotacao ul {
  padding-bottom: 20px;
}

/* line 19, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda li, .item-meteorologia li, .item-cotacao li {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px 10px 10px 20px;
}

/* line 24, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda a, .item-meteorologia a, .item-cotacao a {
  text-decoration: none;
  color: #006d34;
}

/* line 27, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda a:hover, .item-meteorologia a:hover, .item-cotacao a:hover {
  text-decoration: none;
  color: #c9a220;
}

/* line 33, /home/santana/frontend/acebra/sass/_items.scss */
.tabela-cotacao {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0;
}

/* line 37, /home/santana/frontend/acebra/sass/_items.scss */
.tabela-cotacao th {
  border-bottom: 2px solid #edece4;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

/* line 41, /home/santana/frontend/acebra/sass/_items.scss */
.tabela-cotacao td {
  border-bottom: 1px solid #edece4;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

/* line 47, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda #calendar {
  padding: 5px 0;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

/* line 51, /home/santana/frontend/acebra/sass/_items.scss */
.item-agenda button {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  background: #006d34;
  color: #fff;
  border-radius: 0 !important;
}

/* line 59, /home/santana/frontend/acebra/sass/_items.scss */
.item-meteorologia img {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  position: relative;
}

/* line 1, /home/santana/frontend/acebra/sass/_tab.scss */
.tab {
  padding: 5px 0;
  overflow: hidden;
}

/* line 6, /home/santana/frontend/acebra/sass/_tab.scss */
.tab button {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
}

/* line 17, /home/santana/frontend/acebra/sass/_tab.scss */
.tab button:hover {
  background: #c9a220;
}

/* line 21, /home/santana/frontend/acebra/sass/_tab.scss */
.tab button.active {
  background: #006d34;
  color: #fff;
}

/* line 26, /home/santana/frontend/acebra/sass/_tab.scss */
.tabcontent {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* line 32, /home/santana/frontend/acebra/sass/_tab.scss */
.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* line 2, /home/santana/frontend/acebra/sass/_sobre.scss */
.sobre h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  color: #011f17;
  padding: 5px;
  text-transform: uppercase;
}

/* line 8, /home/santana/frontend/acebra/sass/_sobre.scss */
.sobre h1:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #006d34;
}

/* line 16, /home/santana/frontend/acebra/sass/_sobre.scss */
.sobre h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

/* line 20, /home/santana/frontend/acebra/sass/_sobre.scss */
.sobre p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px;
}

@media screen and (max-width: 759px) {
  /* line 25, /home/santana/frontend/acebra/sass/_sobre.scss */
  .sobre h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  /* line 29, /home/santana/frontend/acebra/sass/_sobre.scss */
  .sobre h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  /* line 32, /home/santana/frontend/acebra/sass/_sobre.scss */
  .sobre h2:after {
    margin: 0 auto;
  }
  /* line 36, /home/santana/frontend/acebra/sass/_sobre.scss */
  .sobre p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
  }
}

/* line 2, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretoria h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  color: #011f17;
  padding: 5px;
  text-transform: uppercase;
}

/* line 8, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretoria h1:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #006d34;
}

/* line 16, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretoria h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

/* line 20, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretoria p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px;
}

/* line 24, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretoria .fas {
  padding: 5px;
  color: #006d34;
}

@media screen and (max-width: 759px) {
  /* line 29, /home/santana/frontend/acebra/sass/_diretoria.scss */
  .diretoria h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  /* line 33, /home/santana/frontend/acebra/sass/_diretoria.scss */
  .diretoria h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  /* line 36, /home/santana/frontend/acebra/sass/_diretoria.scss */
  .diretoria h2:after {
    margin: 0 auto;
  }
  /* line 40, /home/santana/frontend/acebra/sass/_diretoria.scss */
  .diretoria p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
}

/* line 50, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretor-item {
  text-align: center;
  padding: 20px 0;
}

/* line 53, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretor-item img {
  margin: 0 auto;
}

/* line 56, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretor-item h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  line-height: 0em;
}

/* line 60, /home/santana/frontend/acebra/sass/_diretoria.scss */
.diretor-item p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  line-height: 1.42857em;
}

/* line 2, /home/santana/frontend/acebra/sass/_legislacao.scss */
.legislacao h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  color: #011f17;
  padding: 5px;
  text-transform: uppercase;
}

/* line 8, /home/santana/frontend/acebra/sass/_legislacao.scss */
.legislacao h1:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #006d34;
}

/* line 16, /home/santana/frontend/acebra/sass/_legislacao.scss */
.legislacao h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

/* line 20, /home/santana/frontend/acebra/sass/_legislacao.scss */
.legislacao .fas {
  padding: 5px;
  color: #006d34;
}

/* line 24, /home/santana/frontend/acebra/sass/_legislacao.scss */
.legislacao a {
  padding: 15px 11px;
  text-decoration: none;
  color: #011f17;
  display: inline-block;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 300;
  transition: all .3s ease;
}

/* line 32, /home/santana/frontend/acebra/sass/_legislacao.scss */
.legislacao a:hover {
  color: #c9a220;
}

@media screen and (max-width: 759px) {
  /* line 37, /home/santana/frontend/acebra/sass/_legislacao.scss */
  .legislacao h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  /* line 41, /home/santana/frontend/acebra/sass/_legislacao.scss */
  .legislacao h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  /* line 44, /home/santana/frontend/acebra/sass/_legislacao.scss */
  .legislacao h2:after {
    margin: 0 auto;
  }
  /* line 48, /home/santana/frontend/acebra/sass/_legislacao.scss */
  .legislacao p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
}

/* line 2, /home/santana/frontend/acebra/sass/_contato.scss */
.contato h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  color: #011f17;
  padding: 5px;
  text-transform: uppercase;
}

/* line 8, /home/santana/frontend/acebra/sass/_contato.scss */
.contato h1:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #006d34;
}

/* line 16, /home/santana/frontend/acebra/sass/_contato.scss */
.contato h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

/* line 20, /home/santana/frontend/acebra/sass/_contato.scss */
.contato h3 {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  padding-top: 25px;
}

/* line 24, /home/santana/frontend/acebra/sass/_contato.scss */
.contato p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  line-height: 1.78571em;
}

/* line 28, /home/santana/frontend/acebra/sass/_contato.scss */
.contato span {
  display: block;
}

/* line 31, /home/santana/frontend/acebra/sass/_contato.scss */
.contato .fas {
  padding: 5px;
  color: #006d34;
}

/* line 35, /home/santana/frontend/acebra/sass/_contato.scss */
.contato a {
  padding: 15px 11px;
  text-decoration: none;
  color: #011f17;
  display: inline-block;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 300;
  transition: all .3s ease;
}

/* line 43, /home/santana/frontend/acebra/sass/_contato.scss */
.contato a:hover {
  color: #c9a220;
}

/* line 48, /home/santana/frontend/acebra/sass/_contato.scss */
.contato-form {
  padding: 10px;
}

/* line 50, /home/santana/frontend/acebra/sass/_contato.scss */
.contato-form label {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  display: block;
}

/* line 54, /home/santana/frontend/acebra/sass/_contato.scss */
.contato-form input[type="text"], .contato-form textarea {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  color: #011f17;
  width: 100%;
  padding: 0 5px;
  height: 35px;
  border: 2px solid #006d34;
  background: transparent;
  margin-bottom: 1em;
  transition: .3s;
}

/* line 64, /home/santana/frontend/acebra/sass/_contato.scss */
.contato-form input[type="text"]:hover, .contato-form input[type="text"]:focus, .contato-form textarea:hover, .contato-form textarea:focus {
  outline: none;
  border-color: #c9a220;
}

/* line 70, /home/santana/frontend/acebra/sass/_contato.scss */
.contato-form textarea {
  height: 120px;
}

/* line 74, /home/santana/frontend/acebra/sass/_contato.scss */
input.button {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background: #006d34;
  display: block;
  width: 200px;
  padding-top: 5px;
  transition: .3s;
}

/* line 84, /home/santana/frontend/acebra/sass/_contato.scss */
input.button:hover {
  background: #c9a220;
}

@media screen and (max-width: 759px) {
  /* line 89, /home/santana/frontend/acebra/sass/_contato.scss */
  h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  /* line 93, /home/santana/frontend/acebra/sass/_contato.scss */
  h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  /* line 96, /home/santana/frontend/acebra/sass/_contato.scss */
  h2:after {
    margin: 0 auto;
  }
  /* line 100, /home/santana/frontend/acebra/sass/_contato.scss */
  p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
  /* line 104, /home/santana/frontend/acebra/sass/_contato.scss */
  input.button {
    margin: 0 auto;
  }
}

/* line 2, /home/santana/frontend/acebra/sass/_associados.scss */
.associados h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  color: #011f17;
  padding: 5px;
  text-transform: uppercase;
}

/* line 8, /home/santana/frontend/acebra/sass/_associados.scss */
.associados h1:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #006d34;
}

/* line 16, /home/santana/frontend/acebra/sass/_associados.scss */
.associados h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

/* line 20, /home/santana/frontend/acebra/sass/_associados.scss */
.associados p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px;
}

/* line 24, /home/santana/frontend/acebra/sass/_associados.scss */
.associados .fas {
  padding: 5px;
  color: #006d34;
}

/* line 28, /home/santana/frontend/acebra/sass/_associados.scss */
.associados ul {
  padding-top: 10px;
  margin-bottom: 20px;
}

/* line 32, /home/santana/frontend/acebra/sass/_associados.scss */
.associados li {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  padding: 0 0 0 7px;
}

@media screen and (max-width: 759px) {
  /* line 37, /home/santana/frontend/acebra/sass/_associados.scss */
  .associados h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  /* line 41, /home/santana/frontend/acebra/sass/_associados.scss */
  .associados h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  /* line 44, /home/santana/frontend/acebra/sass/_associados.scss */
  .associados h2:after {
    margin: 0 auto;
  }
  /* line 48, /home/santana/frontend/acebra/sass/_associados.scss */
  .associados p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
}

/* line 2, /home/santana/frontend/acebra/sass/_associar.scss */
.associar h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  background: #006d34;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

/* line 17, /home/santana/frontend/acebra/sass/_associar.scss */
.associar-form {
  padding: 10px;
}

/* line 19, /home/santana/frontend/acebra/sass/_associar.scss */
.associar-form label {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: inline-block;
}

/* line 23, /home/santana/frontend/acebra/sass/_associar.scss */
.associar-form input[type="text"], .associar-form textarea {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #011f17;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #006d34;
  background: transparent;
  margin-bottom: 1em;
  transition: .3s;
}

/* line 33, /home/santana/frontend/acebra/sass/_associar.scss */
.associar-form input[type="text"]:hover, .associar-form input[type="text"]:focus, .associar-form textarea:hover, .associar-form textarea:focus {
  outline: none;
  border-color: #c9a220;
}

/* line 39, /home/santana/frontend/acebra/sass/_associar.scss */
.associar-form textarea {
  height: 120px;
}

@media screen and (max-width: 759px) {
  /* line 45, /home/santana/frontend/acebra/sass/_associar.scss */
  h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  /* line 49, /home/santana/frontend/acebra/sass/_associar.scss */
  h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  /* line 52, /home/santana/frontend/acebra/sass/_associar.scss */
  h2:after {
    margin: 0 auto;
  }
  /* line 56, /home/santana/frontend/acebra/sass/_associar.scss */
  p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
  /* line 60, /home/santana/frontend/acebra/sass/_associar.scss */
  input.button {
    margin: 0 auto;
  }
}

/* line 2, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  color: #011f17;
  padding: 5px;
  text-transform: uppercase;
}

/* line 8, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov h1:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #006d34;
}

/* line 16, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

/* line 20, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov h3 {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  margin-bottom: 15px;
  transition: all .3s ease;
  cursor: pointer;
}

/* line 23, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov h3:before {
  content: '';
  border-left: solid 5px #c9a220;
  padding-left: 5px;
}

/* line 29, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov h3:hover {
  text-decoration: none;
  color: #c9a220;
}

/* line 35, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px;
}

/* line 39, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov #accordion {
  padding: 10px 10px;
}

/* line 42, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov ul {
  padding: 20px 10px;
  margin-bottom: 20px;
}

/* line 47, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov li {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  margin-bottom: 15px;
}

/* line 51, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov li:before {
  content: '';
  border-left: solid 5px #c9a220;
  padding-left: 5px;
}

/* line 58, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov a {
  text-decoration: none;
  padding: 20px 5px;
  color: #011f17;
  transition: all .3s ease;
}

/* line 64, /home/santana/frontend/acebra/sass/_repgov.scss */
.repgov a:hover {
  text-decoration: none;
  color: #c9a220;
}

/* line 2, /home/santana/frontend/acebra/sass/_associadas.scss */
.logo-associada img {
  padding: 15px;
  display: block;
  margin: 0 auto;
  float: left;
  width: 100px;
  height: 90px;
}

/* line 11, /home/santana/frontend/acebra/sass/_associadas.scss */
.descricao-logo {
  text-align: center;
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #006d34;
  font-weight: bold;
}

/* line 16, /home/santana/frontend/acebra/sass/_associadas.scss */
.descricao-logo p {
  text-transform: uppercase;
}

/* line 22, /home/santana/frontend/acebra/sass/_associadas.scss */
.logo-acebra-menor img {
  margin: 10px 0;
}

/*# sourceMappingURL=../css/style.map */