/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
}

.header-cotacoes {
  background: #006d34;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  height: 30px;
}

.header-cotacoes p {
  text-align: right;
}

/*!
* metismenu - v2.7.9
* A jQuery menu plugin
* https://github.com/onokumus/metismenu#readme
*
* Made by Osman Nuri Okumus <onokumus@gmail.com> (https://github.com/onokumus)
* Under MIT License
*/
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

[dir=rtl] .metismenu .arrow {
  float: left;
}

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}

.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

.metismenu .fa.arrow:before {
  content: "\f104";
}

.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}

.metismenu .ion.arrow:before {
  content: "\f3d2";
}

.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}

.metismenu .plus-times {
  float: right;
}

[dir=rtl] .metismenu .plus-times {
  float: left;
}

.metismenu .fa.plus-times:before {
  content: "\f067";
}

.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.metismenu .plus-minus {
  float: right;
}

[dir=rtl] .metismenu .plus-minus {
  float: left;
}

.metismenu .fa.plus-minus:before {
  content: "\f067";
}

.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}

.metismenu .collapse {
  display: none;
}

.metismenu .collapse.in {
  display: block;
}

.metismenu .collapsing {
  height: 0;
  overflow: hidden;
  position: relative;
  transition-duration: .35s;
  transition-property: height,visibility;
  transition-timing-function: ease;
}

.metismenu .has-arrow {
  position: relative;
}

.metismenu .has-arrow:after {
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: top;
  border-color: initial;
  border-style: solid;
  border-width: 1px 0 0 1px;
  content: "";
  height: .5em;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transform-origin: top;
  transition: all .3s ease-out;
  width: .5em;
}

[dir=rtl] .metismenu .has-arrow:after {
  -webkit-transform: rotate(135deg) translateY(-50%);
  left: 1em;
  right: auto;
  transform: rotate(135deg) translateY(-50%);
}

.metismenu .active > .has-arrow:after, .metismenu .has-arrow[aria-expanded=true]:after {
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

[dir=rtl] .metismenu .active > .has-arrow:after, [dir=rtl] .metismenu .has-arrow[aria-expanded=true]:after {
  -webkit-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
}

/*# sourceMappingURL=metisMenu.min.css.map */
.header {
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}

.header .row {
  background: #fff;
}

.header img {
  padding: 15px 0;
  display: block;
  margin: 0 auto;
}

.header ul {
  float: right;
}

.header li {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  line-height: 2.1875em;
  display: inline-block;
}

.header ul li a {
  padding: 15px 11px;
  text-decoration: none;
  color: #011f17;
  display: block;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 300;
  transition: all .3s ease;
}

.header ul li a:hover {
  color: #c9a220;
}

@media screen and (max-width: 759px) {
  .header img {
    width: 70%;
    margin: 0 auto 10x auto;
  }
  .header .header-menu {
    text-align: center;
  }
  .header ul li a {
    padding: 5px;
  }
}

.small {
  padding: 5px;
  font-size: 80%;
  background: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: all .3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navegacao h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  background: #006d34;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.navegacao ul {
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 2px -2px #c9a220;
}

.navegacao li {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 0 0 0 7px;
}

.navegacao a {
  text-decoration: none;
  padding: 20px 0;
  color: #011f17;
  transition: all .3s ease;
}

.navegacao a:hover {
  text-decoration: none;
  color: #c9a220;
}

.main ul {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.main h1 {
  top: 300px;
  background: #2a2426;
  color: #fff;
  padding: 5px 0 10px 0;
  position: absolute;
  text-align: center;
  z-index: 10;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  opacity: 0.8;
}

.noticias h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  background: #006d34;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.noticias h6 {
  color: #006d34;
}

.noticias ul {
  margin-top: 10px;
  padding-bottom: 20px;
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
  box-shadow: 0 4px 2px -2px #c9a220;
}

.noticias li {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 2px;
  margin: 2px;
  box-shadow: 0 4px 2px -2px #f5f5f5;
}

.noticias a {
  text-decoration: none;
  color: #011f17;
  transition: all .3s ease;
}

.noticias a:hover {
  color: #c9a220;
}

.noticias .leia-mais {
  color: #006d34;
  float: right;
  padding: 10px 0;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #006d34;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.items {
  margin-bottom: 20px;
}

.item-agenda, .item-meteorologia, .item-cotacao {
  border-bottom: 2px solid #006d34;
  min-height: 400px;
  max-height: 400px;
}

.item-agenda h2, .item-meteorologia h2, .item-cotacao h2 {
  padding: 5px 0 0 0;
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  line-height: 1.94444em;
  color: #011f17;
  text-align: center;
  border-bottom: 2px solid #006d34;
}

.item-agenda ul, .item-meteorologia ul, .item-cotacao ul {
  padding-bottom: 20px;
}

.item-agenda li, .item-meteorologia li, .item-cotacao li {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px 10px 10px 20px;
}

.item-agenda a, .item-meteorologia a, .item-cotacao a {
  text-decoration: none;
  color: #006d34;
}

.item-agenda a:hover, .item-meteorologia a:hover, .item-cotacao a:hover {
  text-decoration: none;
  color: #c9a220;
}

.tabela-cotacao {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0;
}

.tabela-cotacao th {
  border-bottom: 2px solid #edece4;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

.tabela-cotacao td {
  border-bottom: 1px solid #edece4;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

.item-agenda #calendar {
  padding: 5px 0;
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
}

.item-agenda button {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  background: #006d34;
  color: #fff;
  border-radius: 0 !important;
}

.item-meteorologia img {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  position: relative;
}

.final {
  padding: 10px 0;
  background: #006d34;
  color: #fff;
}

.img-footer {
  padding: 10px 0;
  opacity: 0.3;
}

.sociais li {
  display: inline-block;
}

.sociais ul li a {
  padding: 0 5px;
  text-decoration: none;
  color: #006d34;
  display: block;
  font-weight: 300;
}

.endereco {
  text-align: right;
}

.endereco p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  line-height: 1.42857em;
  padding: 5px 0;
}

.footer {
  background: #011f17;
  padding: 5px;
}

.footer p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  color: #fff;
}

@media screen and (max-width: 759px) {
  .img-footer {
    margin: 0 auto;
  }
  .sociais ul {
    text-align: center;
  }
  .endereco {
    text-align: center;
  }
  .endereco p {
    max-width: 200px;
    margin: 0 auto;
  }
  .footer {
    text-align: center;
  }
}

.tab {
  padding: 5px 0;
  overflow: hidden;
}

.tab button {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
}

.tab button:hover {
  background: #c9a220;
}

.tab button.active {
  background: #006d34;
  color: #fff;
}

.tabcontent {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sobre h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  background: #006d34;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.sobre h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

.sobre h2:after {
  content: '';
  display: block;
  width: 200px;
  height: 3px;
  background: #c9a220;
}

.sobre p {
  padding: 10px;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
}

@media screen and (max-width: 759px) {
  .sobre h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  .sobre h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  .sobre h2:after {
    margin: 0 auto;
  }
  .sobre p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
  }
}

.diretoria h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  background: #006d34;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.diretoria h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

.diretoria h2:after {
  content: '';
  display: block;
  width: 200px;
  height: 3px;
  background: #c9a220;
}

.diretoria p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px;
}

.diretoria .fas {
  padding: 5px;
  color: #006d34;
}

@media screen and (max-width: 759px) {
  .diretoria h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  .diretoria h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  .diretoria h2:after {
    margin: 0 auto;
  }
  .diretoria p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
}

.legislacao h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  background: #006d34;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.legislacao h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

.legislacao h2:after {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background: #c9a220;
}

.legislacao .fas {
  padding: 5px;
  color: #006d34;
}

.legislacao a {
  padding: 15px 11px;
  text-decoration: none;
  color: #011f17;
  display: inline-block;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 300;
  transition: all .3s ease;
}

.legislacao a:hover {
  color: #c9a220;
}

@media screen and (max-width: 759px) {
  .legislacao h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  .legislacao h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  .legislacao h2:after {
    margin: 0 auto;
  }
  .legislacao p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
}

.contato h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  background: #006d34;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.contato h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

.contato h2:after {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background: #c9a220;
}

.contato h2 .fas {
  padding: 5px;
  color: #006d34;
}

.contato a {
  padding: 15px 11px;
  text-decoration: none;
  color: #011f17;
  display: inline-block;
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 300;
  transition: all .3s ease;
}

.contato a:hover {
  color: #c9a220;
}

.contato-form {
  padding: 10px;
}

.contato-form label {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: block;
}

.contato-form input[type="text"], .contato-form textarea {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #011f17;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #006d34;
  background: transparent;
  margin-bottom: 1em;
  transition: .3s;
}

.contato-form input[type="text"]:hover, .contato-form input[type="text"]:focus, .contato-form textarea:hover, .contato-form textarea:focus {
  outline: none;
  border-color: #c9a220;
}

.contato-form textarea {
  height: 120px;
}

input.button {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background: #006d34;
  display: block;
  width: 200px;
  padding-top: 5px;
  transition: .3s;
}

input.button:hover {
  background: #c9a220;
}

@media screen and (max-width: 759px) {
  h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  h2:after {
    margin: 0 auto;
  }
  p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
  input.button {
    margin: 0 auto;
  }
}

.associados h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  background: #006d34;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.associados h2 {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  padding: 10px 0 0 10px;
}

.associados h2:after {
  content: '';
  display: block;
  width: 200px;
  height: 3px;
  background: #c9a220;
}

.associados p {
  font-family: "Maven Pro", monospace;
  font-size: 0.875em;
  line-height: 2.14286em;
  padding: 10px;
}

.associados .fas {
  padding: 5px;
  color: #006d34;
}

.associados ul {
  padding-top: 10px;
  margin-bottom: 20px;
}

.associados li {
  font-family: "Maven Pro", monospace;
  font-size: 1em;
  line-height: 1.875em;
  padding: 0 0 0 7px;
}

@media screen and (max-width: 759px) {
  .associados h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  .associados h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  .associados h2:after {
    margin: 0 auto;
  }
  .associados p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
}

.associar h1 {
  font-family: "Maven Pro", monospace;
  font-size: 1.5em;
  line-height: 1.25em;
  line-height: 1.45833em;
  background: #006d34;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 0 0px #c9a220, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px 0px 10px 0;
}

.associar-form {
  padding: 10px;
}

.associar-form label {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: inline-block;
}

.associar-form input[type="text"], .associar-form textarea {
  font-family: "Maven Pro", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #011f17;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #006d34;
  background: transparent;
  margin-bottom: 1em;
  transition: .3s;
}

.associar-form input[type="text"]:hover, .associar-form input[type="text"]:focus, .associar-form textarea:hover, .associar-form textarea:focus {
  outline: none;
  border-color: #c9a220;
}

.associar-form textarea {
  height: 120px;
}

@media screen and (max-width: 759px) {
  h1 {
    font-family: "Maven Pro", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    text-align: center;
  }
  h2 {
    font-family: "Maven Pro", monospace;
    font-size: 1em;
    line-height: 1.875em;
    text-align: center;
  }
  h2:after {
    margin: 0 auto;
  }
  p {
    font-family: "Maven Pro", monospace;
    font-size: 0.875em;
    line-height: 2.14286em;
    text-align: center;
  }
  input.button {
    margin: 0 auto;
  }
}
